@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap'
);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;

  background-image: url("form.jpeg");
  overflow: hidden;
  background-repeat: no-repeat;

background-size: cover;
}

 *, *:after, *:before {
	 box-sizing: border-box;
}
 
 img {
	 width: 100%;
	 display: block;
}
 input {
	 appearance: none;
	 border-radius: 0;
}
 .card {
	 margin: 3rem auto;
	 display: flex;
	 flex-direction: column;
	 width: 100%;
	 max-width: 425px;
	 background-color: #fff;
	 box-shadow: 0 10px 20px 0 rgba(153, 153, 153, .25);
	 padding: 0.75rem;
	 border-radius:10px;
}
 .card-image {
	 border-radius: 8px;
	 overflow: hidden;
	 padding-bottom: 65%;
	 background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	 background-repeat: no-repeat;
	 background-size: 100%;
	 background-position: 0 5%;
	 position: relative;
}
 .card-heading {
	 position: absolute;
	 left: 10%;
	 top: 15%;
	 right: 10%;
	 font-size: 1.5rem;
	 font-weight: 600;
	 color: #fff;
	 line-height: 1.222;
}
 .card-heading small {
	 display: block;
	 font-size: 0.75em;
	 font-weight: 350;
	 margin-top: 0.25em;
}
 .card-form {
	 padding: 2rem 1rem 0;
}
 .input {
	 display: flex;
	 flex-direction: column-reverse;
	 position: relative;
	 padding-top: 1.5rem;
}
 .input + .input {
	 margin-top: 1.5rem;
}
 .input-label {
	 color: #8597a3;
	 position: absolute;
	 top: 1.5rem;
	 transition: 0.25s ease;
}
 .input-field {
	 border: 0;
	 z-index: 1;
	 background-color: transparent;
	 border-bottom: 2px solid #eee;
	 font: inherit;
	 font-size: 1.125rem;
	 padding: 0.25rem 0;
}
 .input-field:focus, .input-field:valid {
	 outline: 0;
	 border-bottom-color: #6658d3;
}
 .input-field:focus + .input-label, .input-field:valid + .input-label {
	 color: #6658d3;
	 transform: translateY(-1.5rem);
}
 .action {
	 margin-top: 2rem;
}
 .action-button {
	 font: inherit;
	 font-size: 1.25rem;
	 padding: 1em;
	 width: 100%;
	 font-weight: 500;
	 background-color: #0088ff;
	 border-radius: 6px;
	 color: #fff;
	 border: 0;
}
 .action-button:focus {
	 outline: 0;
}
 .card-info {
	 padding: 1rem 1rem;
	 text-align: center;
	 font-size: 0.875rem;
	 color: #8597a3;
}
 .card-info a {
	 display: block;
	 color: #6658d3;
	 text-decoration: none;
}
